* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(4, 5, 51, 0.897);
}

.main {
    display: flex;
    justify-content: center;
    margin: 4rem auto 4rem auto;
}

.imgs {
    width: 20rem;
    height: 35rem;
}

.signup {
    background-color: white;
    width: 20rem;
    margin-bottom: 4px;
}

.signup-text {
    margin-top: 0.5rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.adjust {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.signup h1 {
    margin-top: 6rem;
    margin-left: 2rem;
    font-size: 22px;
    color: rgba(4, 5, 51, 0.897);
}

.btn {
    text-decoration: none;
    background-color: rgba(4, 5, 51, 0.897);
    color: white;
    margin-bottom: 3rem;
}

input,
select {
    width: 90%;
    height: 35px;
    border-radius: 2px;
}

.fabs {
    font-size: 20px;
    margin: 2rem auto auto 9rem;
    color: rgba(4, 5, 51, 0.897);
    ;
}

input {
    padding: .5rem;
}

.adjust a {
    text-decoration: none;
    background-color: rgba(4, 5, 51, 0.897);
    padding: .5rem 6rem;
    color: white;
    border-radius: 5px;
    display: inline-block;
    margin-top: 1rem;
}


/* Signuo responsive */

@media(max-width: 768px) {
    .imgs {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .signup {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1.5rem;
        width: 100;
        height: 100%;
        z-index: 1;
    }
    .signup .content {
        width: 100%;
        margin-bottom: 40px;
    }
}


/* Success-css */


/* .container {
    display: flex;
    justify-content: center;
    background-color: cornsilk;
    margin: 1rem 25%;
    padding: 1rem;
}

.img2 {
    width: 12rem;
}

ul li {
    width: 18rem;
    margin-bottom: 5px;
}



.left-container {
    position: relative;
    bottom: 4rem;
}

.far {
    position: relative;
    top: 5rem;
    left: 7rem;
    font-size: 4rem;
}

.right-container {
    position: relative;
    left: 3rem;
    top: 2rem;
    background-color: rgba(211, 221, 228, 0.938);
    padding: 1rem;
    overflow: hidden;
}

.btn2 {
    padding: 10px;
    text-decoration: none;
    background-color: rgba(4, 5, 51, 0.897);
    color: white;
    border-radius: 10px;
    position: relative;
    left: 3rem;
}

.icons {
    margin-left: 5rem;
}

.fa-accusoft {
    position: relative;
    top: 4rem;
    right: 2rem;
    font-size: 20px;
} */

.all-content {
    width: 100%;
}

.logo i,
.logo span {
    font-size: 2rem;
    padding: .3rem;
}

.container {
    display: flex;
    background-color: white;
    padding: 1rem;
    width: 60%;
    margin: 2.5rem auto;
}

.right-container {
    width: 50%;
    background-color: rgba(70, 145, 180, 0.521);
    margin: 3rem 0 0 1.5rem;
    border-radius: 5px;
    padding: 1rem;
}

.left-container {
    width: 50%;
    padding: 0 0 4rem 0;
    /* padding: 3rem; */
}

.ragister {
    text-align: center;
}

.ragister i {
    font-size: 4rem;
    color: rgb(255, 208, 0);
    margin-bottom: 1rem;
}

.ragister h1 {
    font-size: 1.5rem;
}

.ragister p {
    font-size: 1.2rem;
}

.right-container img {
    display: block;
    width: 12rem;
    /* margin-left: 4rem; */
    margin: 0 auto;
}

.note-list {
    margin: 1rem;
}

.note-list li {
    margin-top: 1rem;
    font-size: 1rem;
}

ul li a {
    color: rgba(4, 5, 51, 0.897);
}

.right-container h3 {
    text-align: center;
    font-size: 1.1rem;
}

.icons {
    text-align: center;
    margin-top: 1rem;
}

.icons i {
    padding: .3rem;
    font-size: 1.2rem;
}

.fa-twitter {
    color: royalblue;
}

.view-button a {
    text-decoration: none;
    display: block;
    background: none;
    border: solid blueviolet 2px;
    color: rgba(128, 0, 70, 0.74);
    width: 100%;
    padding: .5rem;
    border-radius: 24px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

@media(max-width: 882px) {
    .container {
        flex-direction: column;
    }
    .left-container,
    .right-container {
        width: 100%;
    }
    .right-container {
        margin-left: -.1rem;
    }
}

@media(max-width: 507px) {
    .ragister i {
        font-size: 3rem;
    }
    .logo,
    .logo span {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}